{% extends "template.html" %}

{% block members %}
    <select name="memberTeam">
        {% for team in registered_teams %}
            {% if team.name == selected_team %}
                <option value="{{team.name}}" selected>{{team.name}}</option>
            {% else %}
                <option value="{{team.name}}">{{team.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block playerlist %} 
    <div class="list">
        {% for team in registered_teams %}
            <div class="team">
                <p>{{team.name}}</p>
                {% for member in team.members %}
                    <p>{{member}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block round %}
    {% for r in range(rounds|length) %}
        <div class="round">
            <h2>{{rounds[r].name}}</h2>
            {% for fight in range(rounds[r].fights|length) %}
                <div class="fight">
                {% if r == current_round and winner|length == 0 %}
                    {% if rounds[r].fights[fight]|length > 1 %}
                        {% for f in range(0,2) %}
                            {% if rounds[r].fights[fight][f] in button_winner_team %}
                                <button name="team" type="submit" value="{{rounds[r].fights[fight][f]}},{{fight}}"><div class="team show-winner-team">{{rounds[r].fights[fight][f]}}</div></button>
                            {% else %}
                                <button name="team" type="submit" value="{{rounds[r].fights[fight][f]}},{{fight}}"><div class="team">{{rounds[r].fights[fight][f]}}</div></button>
                            {% endif %}
                            {% if f == 0 %}
                                VS
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if rounds[r].fights[fight][0] in button_winner_team %}
                            <button name="team" type="submit" value="{{rounds[r].fights[fight][0]}},{{fight}}"><div class="team show-winner-team">{{rounds[r].fights[fight][0]}}</div></button>
                        {% else %}
                            <button name="team" type="submit" value="{{rounds[r].fights[fight][0]}},{{fight}}"><div class="team">{{rounds[r].fights[fight][0]}}</div></button>
                        {% endif %}
                        VS
                        <div class="team"></div>
                    {% endif %}
                    <input type='number' name="fightResult1,{{fight}}" value='0' min='0' max='20' class='fight-result' required>
                    <input type='number' name="fightResult2,{{fight}}" value='0' min='0' max='20' class='fight-result' required>
                {% else %}
                    {% if rounds[r].fights[fight]|length > 1 %}
                        <div class="team">{{rounds[r].fights[fight][0]}}</div>
                        VS
                        <div class="team">{{rounds[r].fights[fight][1]}}</div>
                    {% else %}
                        <div class="team">{{rounds[r].fights[fight][0]}}</div>
                        VS
                        <div class="team"></div>
                    {% endif %}
                    <div class="show-fight-result">{{rounds[r].result[fight]}}</div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block winner %}
    {% if rounds|length > 0 %}
        <div class="round">
            <h2>WINNER</h2>
            {{winner}}
        </div>
    {% endif %}
{% endblock %}

{% block startgame %}
    {% if registered_teams|length > 0 and rounds|length == 0 %}
        <button type="submit" name='manageTeams' value="blockAddPlayer">Start Game</button>
    {% endif %}
{% endblock %}