{% extends "template.html" %}

{% block round %}
    {% for r in range(round|length) %}
        <div class="round">
            <h2>{{round[r].name}}</h2>
            {% for fight in range(round[r].teams|length) %}
                <div class="fight">
                {% if round[r].teams|length > 1 %}
                    <div class="team">{{RegTeam[fight][0]}}</div>
                    VS
                    <div class="team">{{RegTeam[fight][1]}}</div>
                {% else %}
                <div class="team">{{RegTeam[fight][0]}}</div>
                    VS
                    <div class="team"></div>
                {% endif%}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}