<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Past tournaments winners</title>
</head>
<style>
  *{
    box-sizing: border-box;
    font-weight: bold;
  }
  body{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      background-color: #242423;
      color: white;
  }
  h1{
    padding: 10px;
    border-bottom: 2px solid #f5cb5c;
  }
  body > ul{
    list-style: '👑 ';
  }
  li ul{
    display: flex;
    gap: 50px;
  }
</style>
<body>
    <h1>Zwycięzcy poprzednich turniejów</h1>
        <ul class="winners">
          {% for winner in winners %}
          <li>
            <h2>{{ winner.team_name }} </h2>
            <!--  New ul with class of 'courses' -->
            <ul class='members'>
              {% for member in winner.team_members %}
              <li>{{ member.member_name}}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
</body>
</html>